@import "~bootstrap/dist/css/bootstrap.min.css";

#container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
#contentNum {
  font-size: 10em;
}

.suit {
  font-size: 3em;
  margin-bottom: 0;
}

ul {
  list-style: none;
}

/* BOTTOM SUITS SYMBOLS*/
.inverted {
  transform: scaleY(-1);
}
